<%- include ('partials/head') %> 
<%- include('partials/header'); %>

<main>
  <article>
      <section>
          <h2><%= data.title %></h2>
          <h3><%= data.principalOrFirstMaker %></h3>
                <figure>
                    <img src="<%= data.webImage.url %>" />
                    <figcaption><%= data.productionPlaces %></figcaption>
                </figure>
      </section>
  </article>


<%- include('partials/footer'); %>
