<%- include ('partials/head') %> <%- include('partials/header'); %>

<main>
  <article id="detail">
    <section>
      <h2><%= data.title %></h2>
      <img src="<%= data.webImage.url %>" />
      <p><%= data.longTitle %></p>
      <h3><%= data.principalOrFirstMaker %></h3>
      <a id="button" href="#overview"<span>Back</span></a>
    </section>
  </article>

  <%- include('partials/footer'); %>
</main>
